asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
coverage==5.3
decorator==4.4.2
Django==3.1.4
django-extensions==3.1.0
frida==14.2.2
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
Naked==0.1.31
packaging==20.7
parso==0.7.1
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
protobuf==3.14.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
Pygments==2.7.3
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
pytest-django==4.1.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
rsa==4.6
shellescape==3.8.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
wrapt==1.12.1
xmldiff==2.4
zstandard==0.14.1
